<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Jobs</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        <ul class="nav nav-tabs">
            <li class="active"><a  href="#queued_jobs" data-toggle="tab">Queued Jobs</a></li>
            <li><a href="#partially_processed_jobs" data-toggle="tab">Partially Processed Jobs</a></li>
            <li><a href="#processed_jobs" data-toggle="tab">Processed Jobs</a></li>
        </ul>

        <div class="tab-content ">
            <div class="tab-pane active" id="queued_jobs">
                <br>

                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Publication ID</th>
                    </tr>

                    <% @queued_jobs.each do |job| %>
                        <tr>
                            <td><%= job.story_id %></td>
                            <td><%= job.username %></td>
                            <td><%= job.email %></td>
                            <td><%= job.publication_id %></td>
                        </tr>
                    <% end %>
                </table>
            </div>

            <div class="tab-pane" id="partially_processed_jobs">
                <br>

                <table class="table table-striped table-bordered table-hover">
                <tr>
                  <th>ID</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Publication ID</th>
                  <th>Email Status</th>
                  <th>IDML Status</th>
                </tr>

                <% @partially_processed_jobs.each do |job| %>
                    <tr>
                      <td><%= job.story_id %></td>
                      <td><%= job.username %></td>
                      <td><%= job.email %></td>
                      <td><%= job.publication_id %></td>
                      <td><%= job.email_status %></td>
                      <td><%= job.idml_status %></td>
                    </tr>
                <% end %>
              </table>
            </div>

            <div class="tab-pane" id="processed_jobs">
                <br>

              <table class="table table-striped table-bordered table-hover">
                <tr>
                  <th>ID</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Publication ID</th>
                  <th>Status</th>
                </tr>

                <% @processed_jobs.each do |job| %>
                    <tr>
                      <td><%= job.story_id %></td>
                      <td><%= job.username %></td>
                      <td><%= job.email %></td>
                      <td><%= job.publication_id %></td>
                      <td><%= job.status %></td>
                    </tr>
                <% end %>
              </table>
            </div>
        </div>

        <!--<nav class="pull-right">-->
            <!--<ul class="pagination">-->
                <!--<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">Previous</span></a></li>-->
                <!--<li class="active"><a href="#">1</a></li>-->
                <!--<li><a href="#">2</a></li>-->
                <!--<li><a href="#">3</a></li>-->
                <!--<li><a href="#" aria-label="Next"><span aria-hidden="true">Next</span></a></li>-->
            <!--</ul>-->
        <!--</nav>-->
    </div>
</div>